# Arduino build output
build/
*.bin
*.elf
*.hex
*.map

# Arduino CLI local caches, if you compile with arduino-cli here
.arduino15/
arduino-cli.yaml

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor junk
*.swp
